<p id="notice"><%= notice %></p>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= image_tag "/images/monet.jpg" %>
        <%= @user.name %>
      </h1>
      <p>E-mail: <%= @user.email %></p>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

